# 1

In [ ]:
employee_1 = (101, "Ali Khan", "HR")
employee_2 = (102, "Hasan Jaan", "IT")
employee_3 = (103, "Karim Baksh", "Finance")

# Store all employee records in a list
employees = [employee_1, employee_2, employee_3]

for employee in employees:
    print(f'ID: {employee[0]:<5}    Name: {employee[1]:<15}    Department: {employee[2]}')

# 2

In [33]:
item_1 = (111, 'Glass', 'Suitable for water')
item_2 = (112, 'Handfree', 'Made in Japan')
item_3 = (113, 'Mouse', 'Usable for PC')

items = [item_1, item_2, item_3]

for item in items:
 print(f'ID: {item[0]:<5}    Product: {item[1]:<10}    Description: {item[2]}')

ID: 111      Product: Glass         Description: Suitable for water
ID: 112      Product: Handfree      Description: Made in Japan
ID: 113      Product: Mouse         Description: Usable for PC

# 3

In [36]:
# Define events using tuples (Date, Time, Event Name)
event_1 = ("2024-08-20", "10:00 AM", "Team Meeting")
event_2 = ("2024-08-21", "02:00 PM", "Client Presentation")
event_3 = ("2024-08-22", "09:00 AM", "Project Kickoff")

events = [event_1, event_2, event_3]

for event in events:
    print(f'Date: {event[0]:<15} Time: {event[1]:<15} Event: {event[2]}')

Date: 2024-08-20      Time: 10:00 AM        Event: Team Meeting
Date: 2024-08-21      Time: 02:00 PM        Event: Client Presentation
Date: 2024-08-22      Time: 09:00 AM        Event: Project Kickoff

# 4

In [53]:

department = {
    201: ("Charlie Davis", "System Administrator"),
    202: ("David Wilson", "Software Developer"),
    203: ("Emily Clark", "IT Support Specialist"),
}

print("Department: IT")

for emp_id, details in department.items():
    print(f"  ID: {emp_id}  Name: {details[0]:<15}  Position: {details[1]}")

Department: IT
  ID: 201  Name: Charlie Davis    Position: System Administrator
  ID: 202  Name: David Wilson     Position: Software Developer
  ID: 203  Name: Emily Clark      Position: IT Support Specialist

# 5

In [73]:
#dictionary in list

students = [
    {"name": "Alice", "scores": {"Math": 85, "English": 78, "Science": 92}},
    {"name": "Bob", "scores": {"Math": 90, "English": 88, "Science": 75}},
    {"name": "Charlie", "scores": {"Math": 70, "English": 65, "Science": 80}},
]

# Function to retrieve a student's scores by name
def get_student_scores(student_name):
    for student in students:
        if student["name"] == student_name:
            return student["scores"]
    return "Student not found"

# Example: Retrieve and print scores for a specific student

student_name = "Alice"

scores = get_student_scores(student_name)
print(f"Scores for {student_name}: {scores}")

Scores for Alice: {'Math': 85, 'English': 78, 'Science': 92}

# 6

In [74]:
# Dictionary to store projects and their associated tasks


projects = {
    "Website Redesign": ["Design new homepage", "Update logo", "Improve site navigation"],
    "App Development": ["Create wireframes", "Develop backend", "Test API integration"],
    "Marketing Campaign": ["Write ad copy", "Design banners", "Launch social media ads"],
}


# Function to retrieve tasks for a specific project


def get_project_tasks(project_name):
    return projects.get(project_name, "Project not found")


# Example: Retrieve and print tasks for a specific project


project_name = "App Development"

tasks = get_project_tasks(project_name)

print(f"Tasks for {project_name}: {tasks}")

Tasks for App Development: ['Create wireframes', 'Develop backend', 'Test API integration']

# 7

In [78]:
# Define a dictionary to store courses and their module details
training_program = {
    "Python Programming": {
        "Module 1": "Introduction to Python",
        "Module 2": "Data Types and Variables",
        "Module 3": "Control Structures",
        "Module 4": "Functions and Modules",
        "Module 5": "File Handling",
    },
    "Web Development": {
        "Module 1": "HTML Basics",
        "Module 2": "CSS Fundamentals",
        "Module 3": "JavaScript Essentials",
        "Module 4": "Responsive Design",
        "Module 5": "Backend Integration",
    }
}
   

# Function to retrieve module details for a specific course
def get_module_details(course_name, module_name):
    course = training_program.get(course_name, "Course not found")
    if course == "Course not found":
        return course
    return course.get(module_name, "Module not found")

# Example: Retrieve and print details of a specific module

course_name = "Python Programming"
module_name = "Module 3"
module_details = get_module_details(course_name, module_name)
print(f"Details for {module_name} in {course_name}: {module_details}")

Details for Module 3 in Python Programming: Control Structures

# 8

In [79]:
# List of tuples containing product names and their prices

products = [
    ("Laptop", 1200),
    ("Smartphone", 700),
    ("Tablet", 300),
    ("Headphones", 150),
    ("Mouse", 25),
]

# Define the price threshold

price_threshold = 500

# Using a list comprehension to find products below the price threshold

affordable_products = [name for name, price in products if price < price_threshold]

# Print the products that are below the price threshold

print("Products below the price threshold:")
for product in affordable_products:
    print(f"  - {product}")

Products below the price threshold:
  - Tablet
  - Headphones
  - Mouse